<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Dialect-->
        <property name="hibernate.dialect">
            <!--eg.--> org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <!-- List Class Mapping -->

        <mapping class="vn.hoangptit.learningframework.dto.Account"/>
        <mapping class="vn.hoangptit.learningframework.dto.Role"/>
        <mapping class="vn.hoangptit.learningframework.dto.Category"/>
        <mapping class="vn.hoangptit.learningframework.dto.Customer"/>
        <mapping class="vn.hoangptit.learningframework.dto.Entertain"/>
        <mapping class="vn.hoangptit.learningframework.dto.Image"/>
        <mapping class="vn.hoangptit.learningframework.dto.Job"/>
        <mapping class="vn.hoangptit.learningframework.dto.Learning"/>
        <mapping class="vn.hoangptit.learningframework.dto.Objective"/>
        <mapping class="vn.hoangptit.learningframework.dto.Plan"/>
        <mapping class="vn.hoangptit.learningframework.dto.Target"/>
        <mapping class="vn.hoangptit.learningframework.dto.Tutorial"/>


        <!-- List of XML mapping files -->
    </session-factory>
</hibernate-configuration>